{{ define "main" }}
<div style="display:flex;">
    <span>
        <h2>Welcome to The Pelican Project</h2>
        <p>Long ago, a man named Mark Z. Danielewski published a book called House of Leaves. The book's hauntingly revolutionary story spread from beyond its pages, and onto the internet. The Pelican Project consists of everything we can find related to House of Leaves and the Danielewski siblings. This site stands on the shoulders of projects such as Exploration Z and PolishChick.com, as well as the wider House of Leaves web.</p>
        <h2>I just got the book, what do I do?</h2>
    </span>
    <img style="margin: 1em;" src="../images/houseofleaves.jpg" alt="The cover of House of Leaves" height=400px>
    
</div>

{{/*  <h3>I just got the book, what do I do?</h3>  */}}
<p>Welcome to the endless Labirynth that is the Holweb! You might want to check out the <a href="/beginners-guide">Beginner's Guide</a> to get started.</p>

{{ end }}